<!DOCTYPE html>
<html ng-app="app-category">
	<head>
		<title>App Categories</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="controller-categories.js"></script>
        <link rel="stylesheet" href="style.css">
	</head>


	<body ng-controller="controller-categories">

		<div class="row top_header">
			<div class="container">
                <div class="col-md-12">Category App</div>
            </div>
        </div>
        
		<div class="container categories-tables" >
            <div class="row">
                <div class="col-md-12 input-block">
                    <input type="text" class="form-control search_input" placeholder="Search country..." ng-model="searchCategory">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 lista" ng-repeat="category in categories | filter:searchCategory">
                        <div class="list-group">
                            <div class="list-group-item list-group-item-action active">{{ category.country }}</div>
                            <div class="list-item-row list-group-item list-group-item-action" ng-repeat="subcategory in category.subcategories">{{ subcategory.name }} {{ subcategory.surname }}</div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	
    </body>
</html>