.categories-tables .list-group-item.active {
  padding: 20px;
  font-weight: bold;
  background: #56a06a;
  border-color: #56a06a; }

.categories-tables .list-group-item-action:nth-child(2n+2) {
  background: #f7f7f7; }

.categories-tables .search_input {
  max-width: 250px;
  float: right;
  margin: 20px 15px 20px 15px; }

.categories-tables .top_header {
  width: 100%;
  background: grey; }

.categories-tables .col-md-4 {
  transition-duration: 0.5s; }

.categories-tables .lista .list-item-row {
  transition-duration: 0.5s; }

.categories-tables .lista .list-item-row:hover {
  background: #b3efc3; }

@media (max-width: 480px) {
  .categories-tables .search_input {
    margin: 20px 0px 20px 0px;
    width: 100%;
    float: none;
    max-width: unset; }
  .categories-tables .input-block {
    margin-left: 15px;
    margin-right: 15px; } }

.top_header {
  width: 100%;
  background: #383838;
  color: white;
  padding: 15px;
  margin: 0; }
